pandas
numpy
scikit-learn
pandas
seaborn
matplotlib
altair
plotnine
duckdb #1.3.2
ibis-framework #>=5.8.0,<6.0.0
nbval
geopandas
rioxarray
exactextract
leafmap
pystac-client
odc-stac


