numpy
scikit-learn
pandas
seaborn
matplotlib
altair
plotnine
duckdb>=1.0,<2.0
ibis-framework>=9,<12
ibis-duckdb
pyarrow>=14,<16
nbval
geopandas
rioxarray
exactextract
leafmap
pystac-client
odc-stac





